body {
    background-color: #FCF7F8
}

.hero {

    background-color: #FCF7F8;
}

.hero p {
    color: #3b429f!important;
}

footer {
    background-color: #3b429f;
}

footer h1 {
    color: #fac9b8!important;
}

footer i {
    color: #fac9b8;
    padding: 20px;
    border: 1px solid #fac9b8;
    border-radius: 100%;
}

footer i:hover {
    color: #3b429f;
    background-color: #fac9b8;
    border: 1px solid #3b429f;
    border-radius: 100%;
    transition: .25s;
}

.technology-card-container {
    border: 1px solid black;
    border-radius: 5px;
}

#backend-card {
    border-right: 1px solid black;
}