body {
    background-color: #FCF7F8;
}

.title {
    color: #3b429f;
}

.hero {
    padding-top: 20px;
    background-color: #3b429f;

}

.hero-body {
    position: relative;
    bottom: 50px;
}

.hero p {
    color: #fac9b8!important;

}

footer {
    background-color: #3b429f;
}

footer h1 {
    color: #fac9b8!important;
}

footer i {
    color: #fac9b8;
    padding: 20px;
    border: 1px solid #fac9b8;
    border-radius: 100%;
}

footer i:hover {
    color: #3b429f;
    background-color: #fac9b8;
    border: 1px solid #3b429f;
    border-radius: 100%;
    transition: .25s;
}

.technology-card {
    background-color: #FCF7F8;
    border: 2px solid #3b429f;
    border-radius: 10px;
    color: #3b429f;
    position: relative;
    bottom: 100px;
}

.technology-card-container i {
    color: rgb(56, 55, 55);
    font-size: 40px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.technology-card-container h2 {
    font-size: 25px;
    padding-bottom: 20px;
}

.technology-card-container p {
    padding-top: 10px;
    padding-bottom: 20px;
}

.purple-spacer {
    background-color: #3b429f;
}

.tech-description {
    color: black;
}

.tech-logo {
    height: 65px;
}

#bootstrap-icon {
    color: #401F7C;
}

#html-icon {
    color: #ffa500;
}

#css-icon {
    color: #264de4;
}